*{
	font-family:Times New Roman;
	border:1px dotted black;
}

#name{
	color:#ffffff;
	text-align:center;
	padding-top:20px;
}

#name i{
	font-size:30px;
}

#name span{
	font-size:20px;
}

#pic{
	float:right;
}

.header{
	background-color:purple;
}

.header p{
	font-size:20px;
}

.categories{
	margin-top:30px;
}

.categories h1{
	text-align:center;
	border-radius:10px;
	background-color:yellow;
	margin-top:10px;
}

.categories p{
	text-align:left;
}

.categories i{
	margin-right:30px;
}

.categories img{
	float:left;
	height:100px;
	margin-right:10px;
}

.right {
	position: relative;
	margin-top: 50px;
	width: 100%;
	height: 400px;
	margin-bottom: 10px;	
}


.right h1{
	margin-top:10px;
	margin-right:10px;
	background-color:yellow;
	border-radius:10px;
	text-align:center;
}

.right i{
	margin-left:10px;
	margin-right:10px;
}


.right img{
	margin-right:10px;
	float:left;
	height:80px;
}

#pff img{
	width:100%;
	float:left;
}

.no-space-break{
	white-space:nowrap;
}

.progress{
	border:1px solid grey;
	margin-top:5px;
}
