*{
	font-family:Times New Roman;
}

@media only screen and (max-width: 600px){
	.theme{margin-left:10px;}
	
	#pic{
		margin:auto;
		width:100%;
	}
	
	#address{
		display:inline-block;
		margin-left:10px;
	}
}

#name{
	color:#ffffff;
	text-align:center;
	padding-top:20px;
}

#pic{
	padding-top:10px;
	padding-bottom:10px;
	float:right;
}

.header{
	background-color:purple;
}

.header i{
	color:#ffffff;
	margin-right:30px;
	font-size:30px;
}

.header span{
	color:#ffffff;
	font-size:20px;	
}

.categories{
	margin-top:30px;
}

.categories h1{
	text-align:center;
	border-radius:10px;
	background-color:yellow;
	margin-top:10px;
}

.categories p{
	text-align:left;
}

.categories i{
	margin-right:30px;
}

.categories img{
	float:left;
	height:100px;
	margin-right:10px;
}

.right {
	position: relative;
	margin-top: 50px;
	width: 100%;
	height: 400px;
	margin-bottom: 10px;	
}


.right h1{
	margin-top:10px;
	margin-right:10px;
	background-color:yellow;
	border-radius:10px;
	text-align:center;
}

.right i{
	margin-left:10px;
	margin-right:10px;
}


.right img{
	margin-right:10px;
	float:left;
	height:80px;
}

#pff img{
	width:100%;
	float:left;
}

.no-space-break{
	white-space:nowrap;
}

.progress{
	border:1px solid grey;
	margin-top:5px;
}
