#name{	
	height:300px;
	background-color:purple;
	color:#ffffff;
	text-align:center;
	padding-top:20px;
}

#info{
	margin-left:15px;
	padding-top:30px;
	text-align:left;
}

#info span{
	display:inline-block;
}

#info i{
	font-size:30px;
}

#pic{
	height:300px;
	background-color:purple;
	float:right;
}