*{
	font-family:Times New Roman;
	/*border:1px dotted black;*/
}

#name{	
	height:300px;
	background-color:purple;
	color:#ffffff;
	text-align:center;
	padding-top:20px;
}

#info{
	margin-left:15px;
	padding-top:80px;
	text-align:left;
}

#info i{
	font-size:30px;
	margin-right:10px;
	margin-left:10px;
}

#pic{
	background-color:purple;
	float:right;
}

.categories{
	text-align:center;
	margin-top:30px;
	margin-left:110px;
	margin-right:110px;
}

.categories h1{
	border-radius:10px;
	background-color:yellow;
}

.categories p{
	text-align:left;
}

.categories i{
	margin-right:30px;
}

.categories img{
	float:left;
	height:100px;
	margin-right:10px;
}

.bar{
	font-weight:bold;
}

.tab{
	margin-left:110px;
}

.left{
	position: relative;
	float: left;
	margin-top: 50px;
	margin-left:110px;
	width: 10%;
	height: 700px;
	background-color: #000060;
}

.right {
	position: relative;
	float: right;
	margin-top: 50px;
	width: 80%;
	height: 400px;
	margin-bottom: 10px;
}

.right h1{
	margin-right:10px;
	background-color:yellow;
	border-radius:10px;
	text-align:center;
}

.right i{
	margin-left:10px;
	margin-right:10px;
}

.right p{
	padding-left:10px;
}

.right img{
	margin-right:10px;
	float:left;
	height:80px;
}
